body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    margin: 15% auto 0 auto;
    background: var(--cor-branca);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login .img{
    margin-bottom: 3rem;
}

.login img{
    min-width: 100px;
    margin: auto;
    max-width: 100px;
    border: 5px solid var(--cor-branca);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

.login .dados_login{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login .dados_login input{
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 20px;
    width: 100%;
    height: 30px;
    box-shadow: var(--box-shadow);
}

.login .dados_login h3{
   font-weight: 800;
   font-size: 17px;
   color: var(--cor-escura);
}

.login .dados_login a.login,
.login .dados_login button{
   margin-top: 2rem;
   color: var(--cor-escura);
   font-weight: 800;
   font-size: 20px;
   background: transparent;
   border: 3px solid var(--cor-escura);
   border-radius: 50px;
   padding: 0.5rem;
   transition: all 400ms ease;
   text-decoration: none;
   display: flex;
   width: 100%;
   justify-content: center;
}

.login .dados_login a.register{
   color: var(--cor-primaria);
   padding: 0.5rem;
   display: flex;
   width: 100%;
   justify-content: center;
}

.login .dados_login a.login:hover,
.login .dados_login button:hover{
   background: var(--cor-fundo);

}
