<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    
    <!-- ESTILOS -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body class="modo-escuro-variaveis">
    <main class="register">
		<div class="img">
			<img src="../images/if_icon.png" class="text-center">
		</div>
		<div class="dados_register">
			<div class="user">
				<h3>Email</h3>
				<input type="email" id="user_r">
			</div>
			<div class="senha">
				<h3>Senha</h3>
				<input type="password" id="senha_r">
			</div>
			<div class="senha">
				<h3>Confirmar Senha</h3>
				<input type="password" id="senha_rc">
			</div>
			<a class="register" id="registerButton">
				Cadastrar
			</a>
			<a class="login" href="/public/index.html">
				Login
			</a>
		</div>
	</main>

    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/authentication.js"></script>
    <script src="../js/register.js"></script>

</body>
</html>